h1
  margin-left 10%

span.time
  color #ccc
  font-size 10px

li.message
  color #888
  border-bottom #eee dotted 1px
  margin-bottom 10px

li.message:first-child
  color #333

.username
  color #0af

li.message
  padding-left 20px
  list-style none

li.message:before
  content '$> '
  color #ccc

.username.myself
  color #f40

.available-rooms li
  display inline-block
  padding 20px
  margin 20px
  border #ddd solid 1px
  border-radius 5px
  list-style none
